* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --primary: #1d4ed8;
  --primary-hover: #1e40af;
  --gray-border: #e5e7eb;
  --gray-text: #6b7280;
  --error: #ef4444;
  --radius: 10px;
}
