/* inputs.css */

.form-group {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  font-size: 14px;
  transition: border 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}

.input-error {
  border-color: var(--error);
}

.error-text {
  color: var(--error);
  font-size: 12px;
  margin-top: 6px;
}

.mobile-step-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  color: rgba(19, 44, 74, 1);
}

.mobile-number {
  font-weight: 400;
  color: rgba(130, 146, 161, 1);
  font-size: 14px;
  line-height: 16px;
}

.mobile-number span {
  color: var(--error);
}

.phone-input-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  overflow: hidden;
}

.country-selector {
  display: flex;
  align-items: center;
  border: 1px solid rgba(114, 156, 240, 1);
  height: 76px;
  border-radius: 12px;
  padding: 0 12px;
  gap: 6px;
}

.country-code-select {
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  font-size: 14px;
}

.country-code-select:focus {
  outline: none;
}

.mobile-input {
  flex: 1;
  height: 76px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid rgba(114, 156, 240, 1);
  border-radius: 12px;
}

.mobile-input:focus {
  outline: none;
}


/* ============================= */
/* OTP Styling */
/* ============================= */

.otp-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 50px;
}

.otp-step-title{
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
  color: rgba(19, 44, 74, 1);
}

.otp-input-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color:rgba(130, 146, 161, 1);
}

.otp-input-container{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.otp-blocks{
  display: flex;
  gap: 40px;
  
}

.otp-input {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgba(19, 44, 74, 1);
  border: 1px solid rgba(114, 156, 240, 1);
  border-radius: var(--radius);
}

.otp-input:focus {
  border-color: black;
  outline: none;
}

.resend-otp{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: right;
  color: rgb(83, 88, 93);
}

.resend-otp span{
  cursor: pointer;
  font-weight: 500;
  color: rgba(0, 84, 253, 1);
}
