.progress-container {
  height: 6px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--primary);
  margin-top: -49px;
  margin-bottom: 40px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: var(--primary);
  transition: width 0.3s ease;
}
