/* ============================= */
/* Step Container */
/* ============================= */
.step-container {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.step-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* ============================= */
/* Step Header */
/* ============================= */

.step-title {
  font-size: 22px;
  font-weight: 600;
  color: #132c4a;
  margin-bottom: 30px;
}

.step-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

/* ============================= */
/* Form Layout */
/* ============================= */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

/* ============================= */
/* Account Type Selection */
/* ============================= */
.account-title {
  font-weight: 400;
  max-width: 360px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(19, 44, 74, 1);
}
.account-title b {
  font-weight: 500;
  width: 450px;
}

.account-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.account-option {
  width: 100%;
  padding: 16px 53px;
  background-color: white;
  text-align: left;
  border: 1px solid rgba(187, 187, 187, 0.867);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px rgba(188, 203, 219, 0.3);
}

.personal-account,
.business-account {
  position: relative;
}

.icon-image {
  position: absolute;
  width: 16px;
  top: 17px;
  left: 19px;
}

.check-mark {
  position: absolute;
  right: 17px;
  top: 14px;
  width: 20px;
  opacity: 0;
}

.check-mark.active {
  opacity: 1;
}

.account-option:hover {
  border-color: rgba(0, 84, 253, 1);
}

.account-option.active {
  border-color: rgba(0, 84, 253, 1);
  background-color: white;
}

/* ============================= */
/* OTP Styling */
/* ============================= */

.otp-container {
  display: flex;
  gap: 14px;
  margin: 30px 0;
}

.otp-input {
  width: 52px;
  height: 52px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  transition: all 0.2s ease;
}

.otp-input:focus {
  border-color: #1d4ed8;
  outline: none;
}

/* ============================= */
/* Error Styling */
/* ============================= */

.input-error {
  border-color: #ef4444 !important;
}

.error-text {
  font-size: 12px;
  color: #ef4444;
  margin-top: 6px;
}
