/* ============================= */
/* Step Container */
/* ============================= */
.step-container {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.step-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* ============================= */
/* Form Layout */
/* ============================= */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

/* ============================= */
/* Account Type Selection */
/* ============================= */
.account-title {
  font-weight: 400;
  max-width: 360px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(19, 44, 74, 1);
}
.account-title b {
  font-weight: 500;
  width: 450px;
}

.account-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.account-option {
  width: 100%;
  padding: 16px 53px;
  background-color: white;
  text-align: left;
  border: 1px solid rgba(187, 187, 187, 0.867);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px rgba(188, 203, 219, 0.3);
}

.personal-account,
.business-account {
  position: relative;
}

.icon-image {
  position: absolute;
  width: 16px;
  top: 17px;
  left: 19px;
}

.check-mark {
  position: absolute;
  right: 17px;
  top: 14px;
  width: 20px;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.check-mark.active {
  opacity: 1;
}

.account-option:hover {
  border-color: rgba(0, 84, 253, 1);
}

.account-option.active {
  border-color: rgba(0, 84, 253, 1);
  background-color: white;
}

/* ============================= */
/* Mobile Number styling */
/* ============================= */

.mobile-step-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  color: rgba(19, 44, 74, 1);
}

.mobile-number {
  font-weight: 400;
  color: rgba(130, 146, 161, 1);
  font-size: 14px;
  line-height: 16px;
}

.mobile-number span {
  color: var(--error);
}

.phone-input-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  overflow: hidden;
}

.country-selector {
  display: flex;
  align-items: center;
  border: 1px solid rgba(114, 156, 240, 1);
  height: 76px;
  border-radius: 12px;
  padding: 0 12px;
  gap: 6px;
}

.country-code-select {
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  font-size: 14px;
}

.country-code-select:focus {
  outline: none;
}

.mobile-input {
  flex: 1;
  height: 76px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid rgba(114, 156, 240, 1);
  border-radius: 12px;
}

.mobile-input:focus {
  outline: none;
}

/* ============================= */
/* OTP Styling */
/* ============================= */

.otp-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 50px;
}

.otp-step-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
  color: rgba(19, 44, 74, 1);
}

.otp-input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(130, 146, 161, 1);
}

.otp-input-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.otp-blocks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.otp-input {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgba(19, 44, 74, 1);
  border: 1px solid rgba(114, 156, 240, 1);
  border-radius: var(--radius);
}

.otp-input:focus {
  border-color: black;
  outline: none;
}

.resend-otp {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: right;
  color: rgb(83, 88, 93);
}

.resend-otp span {
  cursor: pointer;
  font-weight: 500;
  color: rgba(0, 84, 253, 1);
}

/* ============================= */
/* Name Styling */
/* ============================= */

.name-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.name-step-title {
  font-weight: 500;
  font-size: 24px;
  color: rgba(19, 44, 74, 1);
}

.form-group label {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: rgba(130, 146, 161, 1);
}

.form-group .input {
  width: 80%;
  height: 65px;
  border: 1px solid rgba(114, 156, 240, 1);
}

.form-group .input::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(217, 224, 230, 1);
}

/* ============================= */
/* Password styling */
/* ============================= */

.password-step-title {
  color: rgba(19, 44, 74, 1);
  font-size: 24px;
  font-weight: 500;
}
.form-group.password {
  max-width: 480px;
  position: relative;
}

.input.password {
  width: 100%;
  height: 65px;
  border: 1px solid rgba(114, 156, 240, 1);
}

.show-password {
  width: fit-content;
  background: transparent;
  border: none;
  position: absolute;
  right: 23px;
  top: 48px;
  cursor: pointer;
}

.password-guide {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(130, 146, 161, 1);
}

.password-guide .error-text {
  color: var(--error);
}

/* ============================= */
/* Error Styling */
/* ============================= */

.input-error {
  border-color: #ef4444 !important;
}

.error-text {
  font-size: 12px;
  color: #ef4444;
  margin-top: 6px;
}
