/* ============================= */
/* OTP Toast Popup */
/* ============================= */

.otp-toast {
  position: absolute;
  bottom: 100px;
  right: 40px;

  background: rgba(0, 84, 253, 0.9);
  color: white;

  padding: 16px 20px;
  border-radius: 14px;

  box-shadow: 0 10px 30px rgba(201, 199, 199, 0.15);

  animation: slideUp 0.3s ease;
  z-index: 100;
  pointer-events: none;
}

.otp-toast p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.otp-toast h3 {
  margin: 5px 0 0;
  font-size: 16px;
  letter-spacing: 2px;
}

/* Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
