.body {
  margin: 0;
  height: 1024px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.layout {
  font-family: Rubik, sans-serif;
  display: flex;
  min-height: 98vh;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin: 15px 0 15px 80px;
  justify-content: space-between;
  align-items: left;
}

.right {
  flex: 1;
  background: white;
  border-radius: 20px;
  margin: 25px 60px 25px 0;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.title {
  height: fit-content;
  color: rgba(19, 44, 74, 1);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title > h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}
.title > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  margin: 0;
}
.title > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.illustration > img {
  width: 100%;
  height: auto;
}
